<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.projctwash.com.proyek2_carwash">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".JenisMotorActivity" />
        <!-- lay admin -->
        <activity android:name=".Admin.AdminMainActivity" />
        <activity android:name=".Admin.EditJenisMotorActivity" />
        <activity android:name=".Admin.NewJenisMotorActivity" />
        <activity android:name=".Admin.AdminKaryawanActivity" />
        <activity android:name=".Admin.NewKaryawanActivity" />
        <activity android:name=".Admin.EditKaryawanActivity" />
        <!-- lay users -->
        <activity android:name=".User.MainUserActivity" />
        <activity android:name=".LoginUserActivity"></activity>
    </application>

</manifest>